/* Set a cursor and font-size on hover of search history items */
.search-history-click:hover {
    cursor: pointer;
    font-size: 17px;
}

#city-header{
	
font-size: xx-large;
color: blue;	
}

/* set to display none */
.hide {
    display: none;
}

span#err{
	text-align: center;
	color: red;
	margin-left: 100px;
} 
span#id1{
	color:black ;
} 



.test a{
  padding:30px;
}

span{
	text-align: center;
	color: red;
} 


h1 {
	text-align: center;
}
h1.logout {
	text-align: center;
	color: blue;
	margin-top: 200px;
}

form {
	width: 53%;
	margin-left: 400px;
	background: aqua;
	//padding: 10px;
	border: double 10px;
	border-radius: 25px;
	font-size:small;
}

div#id2{
text-align: center;
color: blue;
font-size: medium;
}